
/* Background-Images */
#background-image {
    background: url("../images/background-images/background-desktop.jpg") no-repeat center center;
    background-size: cover;
    min-height: 100vh;
    border-radius: 0;
}

/*-- Header--*/
/*-- Logo--*/
#logo{
    color: rgb(	251, 253, 138);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/*-- Nav-Bar--*/
.page-nav {
    font-size: 20px;
    color: rgb(	251, 253, 138);
}


#nav-top {
    background-color: rgba(	8, 105, 114, 0.8);
}

#active-home{
    text-decoration: underline;
    text-underline-offset: 5px;
    color: rgb(	251, 253, 138);
    font-weight: 600;
}

#active-play{
    text-decoration: underline;
    text-underline-offset: 5px;
    color: rgb(	251, 253, 138);
    font-weight: 600;
}
/*-- Nav-Bar:Hover--*/
.page-nav li:hover a {
    color: rgb(	251, 253, 138) !important;
}


/*-- Modal CSS--*/
.modal-form {
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-send {
    color: rgb(	251, 253, 138);
    background: rgb(8, 105, 114);
}

.modal-body {
    background-color: rgb(135, 223, 214);
}

.modal-header {
    color: rgb(	251, 253, 138);
    background-color: rgb(8, 105, 114)
}




/*-- Body--*/

/*-- Cards -- */
#howToPlay  {
    background-color: rgb(251, 253, 138) ;
    margin-top: 2.5%;
}

#info {
    background-color: rgb(251, 253, 138) ;
    margin-top: 2.5%;
}
/*-- Footer--*/
#nav-footer {
    background-color: rgba(	8, 105, 114, 0.8);
    margin: 0;
    text-align: center;
    padding-left: 0;
}
/*-- Social-Links--*/
.footer-social{
    align-items: center;
}
.footer-social i {
    color: rgb(	251, 253, 138);
}
.footer-social li {
    list-style: none;
    font-size: xx-large;
    text-align: center;
    display: inline-block;
}

.list-item-social {
    padding-left: 2.5vw;
    padding-right: 2.5vw;
}
/*-- Socail-Links:Hover--*/
.footer-social i:hover {
    padding: .5mm;
    border: 1mm;
    border-style: solid;
    border-radius: 50%;
    background-color: rgb(255, 0, 0);
}


/* -- Game Info -- */
.game-info{
    color: white;
    text-align: center;
}

.game-info button{
    color: white;
    background-color: rgb( 8, 105, 114);
    text-align: center;
}

/* -- Game Css -- */

.game-container {
    width: 432px;
    height: 432px;
    background-color: rgb( 8, 105, 114);
    margin: 7.5% auto;
    border-radius: 5px;
}

.playingCard {
    width: 100px;
    height: 100px;
    margin: 4px;
    border: 0.5px solid black;
    background-color: purple;
    border-radius: 5px;
}

.one {
    background: url(/assets/images/card-images/type-1.jpg);
    background-size: 100% 100%;
}

.two {
    background: url(/assets/images/card-images/type-2.jpg);
    background-size: 100% 100%;
}

.three {
    background: url(/assets/images/card-images/type-3.jpg);
    background-size: 100% 100%;
}

.four {
    background: url(/assets/images/card-images/type-4.jpg);
    background-size: 100% 100%;
}

.five {
    background: url(/assets/images/card-images/type-5.jpg);
    background-size: 100% 100%;
}

.six {
    background: url(/assets/images/card-images/type-6.jpg);
    background-size: 100% 100%;
}

.seven {
    background: url(/assets/images/card-images/type-7.jpg);
    background-size: 100% 100%;
}

.eight {
    background: url(/assets/images/card-images/type-8.jpg);
    background-size: 100% 100%;
}

.flipCard {
    background: url(/assets/images/card-images/backside-card.jpg);
    background-size: 100% 100%;
}

.flipCard:hover{
    transform: rotateY(180deg);
}